body {
    background: linear-gradient(to right, #0b0c10, #011e42, #011e42, #011e42, #0b0c10);
}

.main_container {
    height: 35rem;
    width: 22rem;
    background-color: rgb(68, 72, 72);
    margin: 5rem auto;
    margin-bottom: 2rem ;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 20px black, inset -5px -5px 20px black, -10px -10px 20px black;
}

.display {
    height: 7.5rem;
    width: 90%;
    color: aliceblue;
    background-color: rgb(72, 73, 73);
    position: relative;
    z-index: 0;
    top: 1rem;
    margin: 2rem 1rem 1rem 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: inset -5px -5px 15px black, inset 5px 5px 15px black;
    font-size: 1rem;
}

.displayItems {
    font-family: 'Orbitron', sans-serif;
    color: aliceblue;
    height: 7.5rem;
    width: 100%;
    background-color: transparent;
    border-radius: 1rem;
    text-align: right; /* Align text to the right */
    font-size: 2rem;
    padding: 1rem; /* Add some padding */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    position: relative;
    top:3vh;
}
.result{
    font-family: 'Orbitron', sans-serif;
    color: aliceblue;
    height: 7.5rem;
    width: 100%;
    background-color: transparent;
    border-radius: 1rem;
    text-align: right; /* Align text to the right */
    font-size: 2rem;
    padding: 1rem; /* Add some padding */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    position: relative;
    top: -15vh;
    right:0vh;
    display: flex;
    align-items: center;
    justify-content: right;
    /* background-color: rgb(110, 78, 78); */
}
.display_none{
    visibility: hidden;
}

.btnGroup {
    height: auto; /* Allow height to adjust based on content */
    width: 92%;
    margin: 1.5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Space buttons evenly */
    background-color: rgb(88, 88, 98);
    background-color: transparent;
    border-radius: 1rem;
}

.btnGroup button {
    height: 4rem;
    width: 4rem;
    background-color: rgb(28, 23, 23);
    color: aliceblue;
    margin: 0.5rem;
    border-radius: 1rem;
    font-size: 1.9rem;
    box-shadow: 5px 5px 20px black, inset -5px -5px 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Ensure margin and padding are included in width */
}

#ac{
    color: rgb(216, 81, 32);
}
#equals {
    width: calc(4rem * 2 + 1rem); /* Make the equals button wider */
    color: rgb(216, 81, 32);;
}
#back{
    color: rgb(216, 81, 32);;
}
#mod{
    color: rgb(216, 81, 32);;
}
#multi{
    color: rgb(216, 81, 32);;
}
#div{
    color: rgb(216, 81, 32);;
}
#add{
    color: rgb(216, 81, 32);;
}
#sub{
    color: rgb(216, 81, 32);;
}
#add{
    color: rgb(216, 81, 32);;
}
#dot{
    color: rgb(216, 81, 32);;
}

.special {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #66fcf1;
    font-size: 2rem;
}

#equals p {
    font-size: 4rem;
    margin-top: 2.7rem;
}

.test{
    color: aliceblue;
    font-size: 2rem;
}